{% extends "parent/base.html" %}
{% load static %}
{% block title %} تغییر رمز عبور{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/password_change.css' %}">
{% endblock %}

{% block content %}
<div class="password-change-container">
    <h2 class="password-change-title">تغییر رمز عبور</h2>
    
    <div class="password-rules">
        <h3 class="no-counter">قوانین رمز</h3>
        <ul>
            <li>حداقل ۸ کاراکتر</li>
            <li>غیر مشابه با اطلاعات شخصی</li>
            <li>ترکیبی از اعداد و حروف</li>
            <li>غیر تکراری</li>
        </ul>
    </div>
    
    <form method="post" class="password-change-form">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">ثبت</button>
    </form>
</div>
{% endblock %}




