{% load thumbnail %}
{% load static %}
{{ user_get_full_name }}

{% if request.user == user %}
    <button class="follow-button" disabled >
    {% if request.user in user.followers.all %}
        <span >UnFollow</span>
    {% else %}
        <span >follow</span>
    {% endif %}
    </button>
{% else %}
    <button class="follow-button" >
    {% if request.user in user.followers.all %}
        <span >UnFollow</span>
    {% else %}
        <span >follow</span>
    {% endif %}
    </button>
{% endif %} 




{% if user.photo %}
    <a href="{{ user.photo.url }}">
        <img src="{% thumbnail user.photo 200x0 quality=80 %}" >
    </a>
{% else %}
    <img src="{% static '/images/profile/default_user.jpeg' %}" style="width: 200px;" >
{% endif %}     
    <p>Bio: {{ user.bio }} </p>
    <p>Job: {{ user.job }} </p>
    <p>Date_of_birth: {{ user.date_of_birth }} </p>

{% with total_followers=user.followers.count total_followings=user.following.count %}
    <span class="followers_count" > {{ total_followers }} follower {{ followers|pluralize }} </span> 
    <span class="following_count" > {{ total_followings }} following {{ followings|pluralize }} </span>
{% endwith %}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function() {
    $('.follow-button').click(function() {
        var button = $(this);

        $.ajax({
            type: 'POST',
            url: '{% url 'social:user_follow' %}',
            data: {
                'id': '{{ user.id }}', 
                'csrfmiddlewaretoken': '{{ csrf_token }}'
            },
            success: function(data) {
                if (data.follow) {
                    button.text('UnFollow');
                } else {
                    button.text('Follow');
                }
                $('.followers_count').text(data.followers_count + ' follower' + (data.followers_count == 1 ? '' : 's'));
                $('.following_count').text(data.followings_count + ' following' + (data.followings_count == 1 ? '' : 's'));
            },
        });
    });
});
</script> 

